<!DOCTYPE html>
<html lang="en">
    <head>
        <title>EVER | Geometry</title>
        
        <meta charset="UTF-8">
        <meta name="description" content="Geometry Calculator">
        <meta name="keywords" content="5054001198, uriel621, Ever Uriel Garcia">
        <meta name="author" content="Ever Uriel Garcia">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="stylesheet" href="static/bulma.css">
    </head>
    <body>
        <div id='app'></div>
        <script type="text/javascript" src="/static/bundle.js"></script>
    </body>
</html>